---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


#pixelate-image {
  width: 100%;
  position: relative;
  bottom: 35%;
}


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Theme colors
$blue: #50A0DC;
$green: #AFC873;
$orange: #F3AE73;
$pink: #F08CAA;
$red: #DA645A;
$turquoise: #73CDC8;
$yellow: #D7C369;

// Change preferred theme color here.
$color: $orange;

$color-dark: darken($color, 5%);
$color-darker: darken($color, 10%);


// Import partials from `sass_dir` (defaults to `_sass`)
// @import "base", "layout";
// @import "syntax-highlighting";

// Specialty
@import "animate";

// Theme
@import "style";
@import "color";


// Tweaks for embedded content

#ticket_information_wrapper {
	height: 200px;
}

.meet-up-but {
	background-color: RGBA(229, 25, 55, 1);
  border-color: #E51937;
}