/*Text on the header*/

/*@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
	.description h1 {
		font-size: 100px;
	}
}*/


/* HELPERS */

.posRelative {
	position: relative;
}
.posAbsolute {
	position: absolute;
}

.top-bg {
	background-image:url('../images/bittersweet1280.gif');
}

.description h1 {
	color: #5680A1;
	font-family: 'Bitter', monospace;
  /*font-weight: 400;*/

  /*font-size: 68px;*/
  text-shadow: 2px 3px 1px rgba(0,0,0,0.75);
}

.zippers {
	margin-top: 65px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  background-color: rgba(0,50,100,0.45);
  border-color: black;
  border-radius: 20px 34px 34px 20px;
  border-style: dotted;
  padding: 10px;
  font-family: Bitter;
}

.footer {
	font-family: 'Bitter', monospace;
}


/*Responsive Hero Text*/

@media only screen and (min-width: 1440px) {
	.bootstrapD {
		font-size: 120px;
	}
}

@media only screen and (max-width: 1440px) {
	.bootstrapD {
		font-size: 100px;
	}
}

@media only screen and (max-width: 1240px) {
	.bootstrapD {
		font-size: 90px;
	}
}

@media only screen and (max-width: 1124px) {
	.bootstrapD {
		font-size: 85px;
	}
}

@media only screen and (max-width: 1024px) {
	.bootstrapD {
		font-size: 75px;
	}
}

@media only screen and (max-width: 960px) {
	.bootstrapD {
		font-size: 70px;
	}
}

@media only screen and (max-width: 840px) {
	.bootstrapD {
		font-size: 60px;
	}
}

@media only screen and (max-width: 767px) {
	.bootstrapD {
		font-size: 50px;
	}
}

@media only screen and (max-width: 568px) {
  .bootstrapD {
    font-size: 40px;
  }
}


