<!-- Header -->
<header id="header">
  <h1><a href="{{ site.baseurl }}/">Bootstrap Denton</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="https://www.eventbrite.com/e/bootstrap-denton-community-mixer-tickets-26816584125" class="register">Register</a></li>
            <li><a href="#hero" class="hidden">Top</a></li>
            {% if page.layout == 'index' %}
              <li><a href="#event" class="scrolly">Event</a></li>
              <li><a href="#organizations" class="scrolly">Organizations</a></li>
              <li><a href="#companies" class="scrolly">Companies</a></li>
              <li><a href="#sponsors" class="scrolly">Sponsors</a></li>
              <li><a href="#faq" class="scrolly">FAQ</a></li>
            {% else %}
              <li><a href="{{ site.baseurl }}/" class="">Home</a></li>
            {% endif %}
            {% for page in site.pages %}
              {% if page.title %}
                <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
